.todo-app {
  margin: 2rem .5rem 0 .5rem;
  max-width: 32rem;
}

.top-panel {
  margin: 1rem 0;
  flex-direction: column;
}

@media (min-width: 525px) {
  .top-panel {
    flex-direction: row;
  }
}

@media (min-width: 615px) {
  .todo-app {
    margin: 2rem auto 1rem auto;
  }
}